body {
  font-family: 'Roboto', sans-serif;
  background-color: #F3F4F6; /* A light shade of grayish-blue for the background */
  color: #333333; /* Dark gray text color */
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFFFFF; /* Pure white background for container */
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #007bff; /* Slightly vibrant blue for the title */
}

.countdown {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0;
  color: #007bff; /* Matching the title color */
}

.sub-heading {
  font-size: 1.2rem;
  margin: 20px 0;
  color: #666666; /* Darker gray for subtitles */
}

.card {
  background-color: #FFFFFF; /* Matching the container */
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 15px;
}

.accommodation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header,
.card-body {
  background-color: #FFFFFF; /* Now both are the same color */
  border-radius: 8px;
}

.btn {
  display: inline-block;
  background-color: #007bff; /* Slightly vibrant blue */
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.event-item {
  background-color: #ECF0F1; /* Lighter shade of grayish-blue */
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.event-item i {
  margin-right: 10px;
  color: #007bff; /* Matching the title and countdown */
}

/* Hover effect on event-item */
.event-item:hover {
  background-color: #E1E8ED; /* Slightly darker shade when hovered */
}

/* Media Query */
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px; /* Increased font size */
    line-height: 1.8; /* Increased line height */
  }

  .container {
    padding: 15px; /* Less padding to take up more space */
    max-width: 100%; /* Allow the container to expand fully */
  }

  .title {
    font-size: 1.8rem; /* Slightly smaller than desktop but still readable */
  }

  .countdown {
    font-size: 1.4rem; /* Slightly smaller than desktop but still readable */
  }

  .sub-heading {
    font-size: 1.1rem; /* Increased size for better readability */
  }

  .card {
    margin: 15px 0; /* Less vertical margin to fit more content */
  }

  .btn {
    padding: 12px 24px; /* Bigger buttons are easier to tap */
  }

  .event-item {
    padding: 12px; /* Increased padding for readability */
  }
}

  